/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

@import "tailwindcss";

@theme {
  --color-brand-blue: #00d2ff;
  --color-glass-bg: rgba(255, 255, 255, 0.05);
  --color-glass-border: rgba(255, 255, 255, 0.1);
  --font-mono: "JetBrains Mono", monospace;
}
